* {
    font-family: "Segoe UI""Helvetica Neue"Helvetica"Lucida Grande"ArialUbuntuCantarell"Fira Sans"sans-serif;
}
.navbar {
    background-color: #2D3E50;
    color: white;
}

.nav-link {
  
    margin-right: 10px;
   
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.nav-link.active {
  background-color: #1DBD9D;
  border-radius: 10px;
}